<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>UtubeMusic Downloader</title>
</head>
<body>
    <div class="main-container">
        <form action="/extract-audio" method="POST" id="form">
            <p>Created by <a href="https://github.com/cu-sanjay/YoutubeMusic">Sannjay</a></p>
            <h1><i class="fa-solid fa-music"></i> UtubeMusic Audio Extractor</h1>
            <h4>Paste Your Video Link</h4>
            <div class="input-group">
                <input type="text" name="url" placeholder="Video link here">
                <button type="submit" id="extract-btn">Get Audio Now</button>
            </div>
            <div>
                <p><b>Hold tight, audio processing takes 20-30 seconds!</b></p>
            </div>
        </form>
    </div>
</body>
</html>